* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
}

.App h1 {
  padding-top: 4rem;
}

.App p,
a {
  padding: 1.5rem 10rem;
}

.App button {
  margin: 1.5rem;
  padding: 1.5rem;
}
